<footer class="retwis-footer">
    <div class="container">
        <div class="row">
            <div class="col-3 col-md"></div>
            <div class="col-3 col-md">
                <h5>Built with</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://redis.io">Redis</a></li>
                    <li><a class="text-muted" href="https://www.php.net">PHP</a></li>
                    <li><a class="text-muted" href="https://symfony.com">Symfony</a></li>
                    <li><a class="text-muted" href="https://getbootstrap.com">Bootstrap</a></li>
                </ul>
            </div>
            <div class="col-3 col-md">
                <h5>Author</h5>
                <ul class="list-unstyled text-small">
                    <li>Yann Eugoné</li>
                    <li><a class="text-muted" href="https://twitter.com/yojinbo_san">Twitter</a></li>
                    <li><a class="text-muted" href="https://github.com/yann-eugone">GitHub</a></li>
                </ul>
            </div>
            <div class="col-3 col-md"></div>
        </div>
    </div>
</footer>
