<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Symfony Retwis - {% block title 'Welcome' %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div>
            {% if app.user %}
                <a href="{{ path('logout') }}">Logout</a>
            {% else %}
                <a href="{{ path('register') }}">Register</a> or <a href="{{ path('login') }}">Login</a>
            {% endif %}
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
