{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 retwis-main">
                <h3 class="pb-3 mb-4 font-italic border-bottom">Your timeline</h3>
                {{ render(controller('App\\Controller\\UserTimelineController::mainTimeline', {id: app.user.id})) }}
            </div>
            {% include '_aside.html.twig' %}
        </div>
    </main>
{% endblock %}
