{# @var post \App\View\PostView #}
<h2>Recently published posts</h2>
<ul>
    {% for post in posts %}
        <li>
            <a href="{{ path('user_profile', {'username': post.author.username}) }}">@{{ post.author.username }}</a> :
            <a href="{{ path('post_show', {'id': post.hash}) }}">{{ post.message|slice(0, 50) }}</a>
        </li>
    {% endfor %}
</ul>
