{# @var user \App\User\User #}
<h4 class="font-italic">Most followed users</h4>
<div class="retwis-trending-users list-group">
    {% for followerCount,user in users %}
        <div class="retwis-trending-user list-group-item flex-column align-items-start">
            <h5 class="retwis-trending-user-link mb-1">
                <a href="{{ path('user_profile', {'username': user.username}) }}">{{ user.name }}</a>
            </h5>
            <p class="mb-1 retwis-trending-user-posts">{{ followerCount }} followers</p>
        </div>
    {% endfor %}
</div>
